<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="InteractiveMapUniandes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InteractiveMapUniandes"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name="interactivemapuniandes.view.ScheduleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RouteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.OfflineMapsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SchedulesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.NotificationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AlertsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.VoiceTranslatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.FavoritesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RestaurantsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RestaurantDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.BuildingDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB3B7xTmHuYdyzcIHr0mcALIEmLZDa-3yg" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />

        <activity
            android:name=".view.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="route"
                    android:scheme="interactivemap" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.InteractiveMapUniandes.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.uniandes.interactivemapuniandes.utils.NextClassReceiver"
            android:exported="false" />
    </application>

</manifest>
